{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div>
    <h4>Фамилия: {{ surname }}</h4>
    <h4>Имя: {{ name }}</h4>
    <h4>Образование: {{ education }}</h4>
    <h4>Профессия: {{ profession }}</h4>
    <h4>Пол:
        {% if sex == "male" %}мужской
        {% elif sex == "female" %}женский
        {% else %}{{ sex }}
        {% endif %}
    </h4>
    <h4>Мотивация: {{ motivation }}</h4>
    <h4>Готовность:
        {% if ready == "True" %}Готов(а)
        {% else %}Не готов(а)
        {% endif %}
    </h4>
</div>
{% endblock %}